# Full configuration options can be found at https://www.consul.io/docs/agent/options.html

#==> Server
server           = true
bootstrap_expect = 3

advertise_addr   = "{% raw %}{{ GetInterfaceIP \"{% endraw %}enp0s2{% raw %}\" }}{% endraw %}"

client_addr      = "0.0.0.0"
ui               = true