# Full configuration options can be found at https://www.consul.io/docs/agent/options.html

#==> Server
server           = true
bootstrap_expect = 3
{% raw %}
advertise_addr   = "{{ GetInterfaceIP \"enp0s2\" }}"
{% endraw %}
client_addr      = "0.0.0.0"
ui               = true