{
  "DaemonAuthenticationType": "password",
  "DaemonAuthenticationPassword": "{{tfe_admin_password}}",
  "TlsBootstrapType": "self-signed",
  "ImportSettingsFrom": "/tmp/terraform/settings.json",
  "LicenseFileLocation": "/tmp/terraform/license.rli",
  "BypassPreflightChecks": true
}