{
    "aws_access_key_id": {},
    "aws_instance_profile": {
        "value": "0"
    },
    "aws_secret_access_key": {},
    "azure_account_key": {},
    "azure_account_name": {},
    "azure_container": {},
    "azure_endpoint": {},
    "backup_token": {
        "value": "s14A1IrnaRKrn2ipXbZQB1k0r5v1aMsA"
    },
    "ca_certs": {},
    "capacity_concurrency": {
        "value": "{{capacity_concurrency}}"
    },
    "capacity_memory": {
        "value": "{{capacity_memory}}"
    },
    "custom_image_tag": {
        "value": "hashicorp/build-worker:now"
    },
    "disk_path": {
        "value": "{{disk_path}}"
    },
    "enable_active_active": {
        "value": "0"
    },
    "enable_metrics_collection": {
        "value": "1"
    },
    "enc_password": {
        "value": "{{enc_password}}"
    },
    "extern_vault_addr": {},
    "extern_vault_enable": {
        "value": "0"
    },
    "extern_vault_path": {},
    "extern_vault_propagate": {},
    "extern_vault_role_id": {},
    "extern_vault_secret_id": {},
    "extern_vault_token_renew": {},
    "extra_no_proxy": {},
    "gcs_bucket": {},
    "gcs_credentials": {
        "value": "{}"
    },
    "gcs_project": {},
    "hairpin_addressing": {
        "value": "0"
    },
    "hostname": {
        "value": "{{hostname}}"
    },
    "iact_subnet_list": {},
    "iact_subnet_time_limit": {
        "value": "60"
    },
    "installation_type": {
        "value": "{{installation_type}}"
    },
    "pg_dbname": {},
    "pg_extra_params": {},
    "pg_netloc": {},
    "pg_password": {},
    "pg_user": {},
    "placement": {
        "value": "placement_s3"
    },
    "production_type": {
        "value": "{{production_type}}"
    },
    "rabbitmq_host": {
        "value": "rabbitmq.ptfe"
    },
    "rabbitmq_port": {
        "value": "5672"
    },
    "rabbitmq_protocol": {
        "value": "amqp://"
    },
    "rabbitmq_username": {
        "value": "hashicorp"
    },
    "rabbitmq_vhost": {
        "value": "hashicorp"
    },
    "redis_host": {},
    "redis_pass": {
        "value": "LJq9K6s4jppyuWLe2Y9n1CjOPdeBmMdH"
    },
    "redis_port": {},
    "redis_use_password_auth": {},
    "redis_use_tls": {},
    "s3_bucket": {},
    "s3_endpoint": {},
    "s3_region": {},
    "s3_sse": {},
    "s3_sse_kms_key_id": {},
    "tbw_image": {
        "value": "default_image"
    },
    "tls_vers": {
        "value": "tls_1_2_tls_1_3"
    }
}
